body{
  display: flex;
  justify-content: center;
  background: #e6ccff;
}

#container{
postion: relative;
top: 100px;
width: 300px;

}

#content-box{
  background: #FFF;
  padding: 15px;
  margin-bottom: 15px;
}

ul {
  list-style-type: none;
  padding: 0px;
  display:flex;
  justify-content: left;
}

a {
  position: relative;
  margin-bottom: 15px
  text-decoration: none;
  background: #FFF;
  padding: 15px;
}

a:hover{
  background: #ffcccc;
}
